@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/Event.css" asp-append-version="true" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBpeJBOLtAK5zsvf6cK8sxE44UkFWuKJ0"></script>
<div class="grid-x" id="RSVPButton" style="height: 60px; margin-top: 20px; margin-bottom: 10px;">
    <div class="cell small-offset-1 small-10 medium-offset-5 medium-2 large-offset-5 large-2" data-selector="RSVP" style="background-color:#ff4d4d; display: flex; justify-content: center; align-items: center;  font-family: monospace; font-size: 25px; cursor: pointer">
        RSVP

    </div>

</div>


<div class="grid-x" style="">
    <div class="eventTitle cell small-offset-1 small-2 medium-offset-3 medium-1 large-offset-3 large-1" style="">
        What:
    </div>
    <div class="eventInfo cell small-8 medium-6 large-6" style="padding: 5px;">
        It's back, it may not be better than ever, but the 2nd "Sometimes" Annual Wiffles N' Waffles is back after a 1 year hiatus. This event will consist of a waffle feast and a 3 inning, officiated game of Wiffle ball.Teams will be decided randomly on game day. Contrary to popular belief this event is not sponsored by Waffle House or Denny’s. Because of the lack of sponsorship this year and the ongoing issues with the supply chain, we will be resorting to Eggo waffles this year. While waffles will be provided, if you could bring a topping or supply that would be great! This could consist of a spread, jelly, jam, cream, syrup, plates, silverware or anything else you can think of. Please let me know what you plan on bringing so we have a nice medley of toppings and supplies. "Spread" the word!

    </div>
</div>
<div class="grid-x" style="margin-top: 5px;">
    <div class="eventTitle cell small-offset-1 small-2 medium-offset-3 medium-1 large-offset-3 large-1" style="">
        When: 
    </div>
    <div class="eventInfo cell small-8 medium-6 large-6" style="padding: 5px;">
        6:00 PM PST Friday, September 27th, 2024
    </div>
    
</div>
<div class="grid-x" style="margin-top: 5px;">
    <div class="eventTitle cell small-offset-1 small-2 medium-offset-3 medium-1 large-offset-3 large-1" style="">
        Where:
    </div>
    <div class="eventInfo cell small-8 medium-6 large-6" style="padding:5px;">
        2799-2705 N Park Dr, Bellingham, WA 98225
    </div>

</div>

<div class="grid-x" style="">
    <div class="cell small-offset-1 small-10 medium-offset-3 medium-7 large-offset-3 large-7" id="map"> 


    </div>
</div>


<script src="~/js/Event/event.js"></script>


<script>
    function initMap() {

        var address = '2799-2705 N Park Dr, Bellingham, WA 98225';

        
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: { lat: 37.4221, lng: -122.0841 } 
        });

        var geocoder = new google.maps.Geocoder();

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
               
                map.setCenter(results[0].geometry.location);

                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
    window.onload = initMap;
</script>
